<div class="super super-l12 dashboard super-scrollable-y" style="height: 95%; padding: 0 .5em 2em .5em">
    <div class="super super-l12 super-flex-center welcome">
        <div class="super super-l6 text">
            <span class="super super-l12 greetings super-al-right">
                Salut ! <span class="light super"><%= prenom %></span>
            </span>
            <span class="super super-l12 super-al-justify explain">
                Comme vous le savez déjà, Akademy est un système informatique
                permettant de gérer le Campus Henry Christophe de Limonade au niveau académique.
            </span>
        </div>
        <div class="super super-l6 welcome-img"></div>
    </div>
    <div class="super super-l12">
        <h1 style="font-family: Poppins-SemiBold"><icon class="las la-chart-area"></icon> Résumé de l'établissement</h1>
    </div>
    <div class="super super-l12 diagrams super-flex">
        <div class="super super-l8 canvas-wrapper">
            <h3>Le Campus Henry Christophe de Limonade en chiffres académiques</h3>
            <canvas class="super super-l12" id="timeline"></canvas>
        </div>
        <div class="super super-l4 canvas-wrapper">
            <h3>Réussite de l'an dernier</h3>
            <canvas class="super super-l12" id="promotion"></canvas>
        </div>
    </div>
    <div class="super super-l12" style="height: 40px">

    </div>
</div>